DB_URL= // url para o seu database
DB_USER= // usuário do seu database
DB_PASSWORD= // senha do seu 

CLOUDINARY_NAME= // nome da nuvem no cloudinary
CLOUDINARY_KEY= // chave da nuvem no cloudinary
CLOUDINARY_SECRET= // secret key da nuvem no cloudinary